%h1
  =link_to "Notes", "#"
%h2 Testing Backbone
%form
  %input(type='search' value='')
%h3
  =link_to 'Create New', '#new'

#notice
#app

= content_for :end_scripts do
  = coffee_script_tag do
    $ -> App.init()
