<% if(collection.models.length > 0) { %>
    <ul>
    <% collection.each(function(item) { %>
      <li><a href='#todos/<%= item.id %>'><%= item.escape('name') %></a></li>
    <% }); %>
    </ul>
<% } %>
