html {
  text-align: center;
  padding: 30px;
}

body {
  text-align: left;
  font-family: Helvetica;
  margin: auto;
  width: 600px;
  color: #555;
}

h1 {
  font-size: 35px;
  a {
    text-decoration: none;
    color: #555;
    &:hover{

    }
  }
}

h2 {
  font-size: 15px;
  color: #aaa;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  margin: 10px 2px 15px;
}

#app {
  margin: 10px auto;
}

#notice {
  font-size: 15px;
  margin: 15px 0 15px 0;
}

#notice .notice, #notice .error {
  height: 25px;
  color: green;
  width: 100%;
  border: 1px solid #ddd;
  background: #eee;
  padding: 5px;
}

#notice .error {
  color: red;
}
form.search {
  float:right;
}
input[type='search'] {
  margin-bottom: 10px;
}