html {
  text-align: center;
  padding: 40px;
}

body {
  text-align: left;
  font-family: Helvetica;
  margin: auto;
  width: 600px;
  color: #555;
}

h1 {
  font-size: 35px;
  a {
    text-decoration: none;
    color: #555;
    &:hover{

    }
  }
}

h2 {
  font-size: 15px;
  color: #aaa;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  margin: 10px 2px 15px;
}

#app {
  margin: 10px auto;
}

#notice {
  font-size: 15px;
}

#notice .notice, #notice .error {
  height: 25px;
  color: white;
  line-height: 35px;
}
#notice {
  top: 0;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#notice .error {
  color: red;
}
form.search {
  float: right;
}
input[type='search'] {
  margin-bottom: 10px;
}
a.close {
  color:#F00;
  text-decoration:none;
  padding:10px;
  margin-left:10px;
  &:hover {
    color:#222;
  }
}